
@font-face {
  font-family: 'Comfortaa_Light';
  src: url('../fonts/Comfortaa-Light.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa_Medium';
  src: url('../fonts/Comfortaa-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa_SemiBold';
  src: url('../fonts/Comfortaa-SemiBold.ttf');
  font-display: swap;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Comfortaa_Light", Arial;
  font-size: 30px;
  font-weight: 200 !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}





img.logo {
  width: 20px;
  height: 25px;
  margin: 10px 0 -6px 0;
}
img.article_img {
  width: 200px;
  height: 200px;
  margin-bottom: -50px;
}
.rule-icon {
  content: url('../img/logo.svg');
  width: 50px;
  height: 68px;
  margin-top:8px;
}
.social-icons {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}








.footer {
  background-color: black;
  padding: 1rem 3rem 1px 5rem;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}
.footer.copyright {
  text-align: right;

  @media only screen and (max-width: 500px) {
    text-align: center;
    padding: 20px 40px 10px 0;
  }
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  text-decoration: underline;
  color: white;
}
.navigation {
  text-transform: uppercase;
  margin-bottom: 20px;
}
